<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Clasificacion de ligas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row >
      <ion-col size="8">
      <ion-select label="Liga " label-placement="stacked" placeholder="Selecciona una liga" 
       [(ngModel)]="selectedLeagueId" (ionChange)="onLeagueChange($event)">
        @for (league of leagues; track $index) {
          <ion-select-option [value]="league.idLeague">
            {{ league.strLeague }} - {{ league.strSport }}
          </ion-select-option>
        }
      </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-select label="temporada" label-placement="stacked" placeholder="Selecciona una temporada"
        [(ngModel)]="selectedTable" (ionChange)="onleagueTable($event)">
          @for (season of seasons; track $index) {
          <ion-select-option [value]="season">
            {{ season }}
          </ion-select-option>
        } 
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-grid>
  @for(tables of table; track tables.idStanding){
    <ion-grid>
      <ion-row  (click)="puntuacion(tables)">
        <ion-col size ="2">
          {{tables.idTeam}}
        </ion-col >
        <ion-col size="2">
          <img [src]=" tables.strBadge"  style="width: 30px; height: 30px;"/>
        </ion-col >
        <ion-col size="2">
          {{tables.strTeam}}
        </ion-col>
        <ion-col size="4">
          {{tables.strForm}}
        </ion-col>
        <ion-col size="2">
          {{tables.intPoints}}
        </ion-col>
      </ion-row>
    </ion-grid>
  }

</ion-content>
